<% @posts.each do |post| %>
<div class="hero_post">
  <div class="label">
    <h2><%= link_to post.name, post %></h2>
    <p><%=link_to post.address, post %></p>
  </div>
  <% if post.image.exists? %>
    <%= image_tag post.image.url(:large) %>
  <% end %>
<% end %>
</div>
<hr>
<div class="recents">
  <h3>Most Recent Bites</h3>
  <% @recents.each do |recent| %>
  <div class="cafe_recent">
    <div class="img_box">
      <% if recent.image.exists? %>
        <%= image_tag recent.image.url(:thumb) %>
      <% end %>
    </div>
    <div class="cafe_title">
      <h4><%= link_to recent.name, recent %></h4>
      <p><%= link_to recent.address, recent %></p>
    </div>
  </div>
  <% end %>
</div>
<div class="popular">
  <h3>Popular Bites</h3>
  <% @popular.each do |populr| %>
  <div class="popular_cafe">
    <div class="label_popular">
      <h4><%= link_to populr.name, populr %></h4>
    </div>
    <%= image_tag populr.image.url(:medium) %>
  </div>
  <% end %>
</div>
