<h1><%= @post.title %></h1>
<h2><%= @post.name %></h2>
<p><%= @post.address %> | <%= @post.rating %></p>
<br>
<br>
<hr>
<br>
<%= markdown @post.content%>
<br>
<br>
<% if user_signed_in? %>
  <%= link_to "Edit", edit_post_path(@post) %>
  <%= link_to "Delete Article", post_path(@post), method: :delete, data: {confirm: "Are you sure you want to delte this?"} %>
<% end %>
